* {
    box-sizing: border-box;
}

body {
    background: lightpink;
}

header h1 {
    color: grey;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
    font-family: Brush Script MT, cursive;
}

header h2 {
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

#searchbox {
    display: inline;
    width: 20%;
    border-right: 2px black solid;
}

#weatherbox {
    display: inline;
    width: 80%;
}

#citychosen {
    display: inline;
    margin: 0px;
    color: black;
    font-size: 30px;
    font-family: 'Days One'
}

#icon {
    display: inline-block;
}

#todaydate {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#fiveday {
    display: flex;
    flex-direction: row;
}

.daybox {
    background-color: transparent;
    display: inline;
    height: 200px;
    width: 100px;
    margin: 4px;
}

.daybox p {
    color: black;
}

footer {
    align-self: left;
}

.buttonclass {
    background-color: pink;
    display: block;
}

@media screen and (max-width: 768px) {
    #searchbox {
        width: 35%;
    }
    #weatherbox {
        width: 50%;
    }
}